body{
    overflow-x: hidden;
}
*{
 padding: 0px;
 margin: 0px;
 font-family: poppins;
}
/* .cont{
    background-image: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
} */
.disc1 {
    background-image:linear-gradient(144.39deg,
        #ffffff -278.56%,
        #6d6d6d -78.47%,
        #11101d 91.61%);
    ;
}
hr{
    margin: 20px 0px;
}
li{
    font-size: 17px;
}
ul{
    margin-top: 10px;
    display: flex ;
    flex-direction: column;
    gap: 15px;
    opacity: 0.7;
}
.disc{
    background-image:none;
    transition-duration: 0.4;
}
.disc:hover{
     background-image:linear-gradient(144.39deg,
         #ffffff -278.56%,
         #6d6d6d -78.47%,
         #11101d 91.61%);
}
.textgrad {
    background: radial-gradient(64.18% 64.18% at 71.16% 35.69%,
            #def9fa 0.89%,
            #bef3f5 17.23%,
            #9dedf0 42.04%,
            #7de7eb 55.12%,
            #5ce1e6 71.54%,
            #33bbcf 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.line{
    height:14px;
    width: 3px;
    background-color: rgb(145, 142, 142);
    border-radius: 10px;
    position: absolute
}
.line1{
 left: -50px;
}
.line2{
    right: -50px;
}
.light{
    background-color: rgba(0, 255, 255, 0.189);
}
.br{
    border: 3px solid aqua;
    color: aqua;
}
.button{
     background: radial-gradient(64.18% 64.18% at 71.16% 35.69%,
         #def9fa 0.89%,
         #bef3f5 17.23%,
         #9dedf0 42.04%,
         #7de7eb 55.12%,
         #5ce1e6 71.54%,
         #33bbcf 100%);

         
}
.bg{
    background-color: rgba(0, 0, 0, 0.416);
}